html, body, #root {
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

table {
    border: 2px solid forestgreen;
    width: 1000px;
    height: 200px;
}
    
th {
    border-bottom: 1px solid black;
}
    
td {
    text-align: center;
}
  