:root {
    --bg: #2D2E2E;
    --dark: #0F0F0F;
    --btn-blue: #3891A6;
    --accent: #23CE6B;
    --text-white: #FBFBFB;
  }

.login-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-error {
  color: var(--accent);
  margin-bottom: 10px;
}